$walkin-color: #DD7D78;
$reservation-color: #5DA0C1;
$walkin-hover-color: #BC6462;
$reservation-hover-color: #4082A3;
$border-color: lightgray;
$text-color: #505050;
$selected-color: #50B734;

$delete-color: #d9534f;
$delete-hover-color: #c9302c;
